<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${nickName}+'님의 주문 요청서'"></h1>
<a>상품 선택 :</a>

<form action="/order" method="post">

<select name="productName">
    <option value="콜라">콜라</option>
    <option value="커피">커피</option>
    <option value="제로콜라">제로콜라</option>
    <option value="환타">환타</option>
</select>
<input type="text" placeholder="수량" name="amount">
<input type="text" placeholder="이름" name="name">
<input type="text" placeholder="주소" name="address">
<input type="text" placeholder="전화번호" name="phone">
<button>주문하기</button>

</form>



</body>
</html>